<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabTodos" color="warning">
      <ion-icon name="home"></ion-icon>
      {{ 'ALL' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="tabCategorias">
      <ion-icon name="star"></ion-icon>
      {{ 'CATEGORIES' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="tabLivestream">
      <ion-icon name="radio"></ion-icon>
      {{ 'LIVESTREAM' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="tabAsignados">
      <ion-icon name="newspaper"></ion-icon>
      {{ 'ASSIGNED' | translate }}
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>